.sto-__PLACEHOLDER__-container {
    background-image: __CONTAINERIMG__;
    background-position: center center;
    background-repeat: no-repeat;
}
.sto-__PLACEHOLDER__-container{
    font-size: 0;
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 100px;
    width: 774px;
    margin-left: 0;
    background-position: center center;
    margin-bottom: 20px;
}
.sto-__PLACEHOLDER__-design_right_cta{
    cursor:pointer;
    position: absolute;
    width:160px;
    height:32px;
    transform:translateY(-50%);
    top:50%;
    right:23px;
}
