.sto-hidden{
    display: none!important;
}

.BANNER_NAV__container #BannerHighCoNosRayons3{
    display: none;
}

.sto-__PLACEHOLDER__-banner {
    background-image: __CONTAINERIMG__;
    /*background-size: cover;*/
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor:pointer;
}

/* .sto-__PLACEHOLDER__-banner[data-page="nos_rayons"]{
    background-position: top center;
    margin-top: calc(1rem - 1px) !important;
}

@media screen and (max-width: 828px){
    .sto-__PLACEHOLDER__-banner[data-page="nos_rayons"] {
        background-image: __CONTAINERIMGMOB__;
        margin-top: calc(1rem - 3px) !important;
    }
}

@media screen and (max-width: 767.5px){
    .sto-__PLACEHOLDER__-banner[data-page="nos_rayons"] {
        margin-top: calc(1rem - 13px) !important;
    }
} */

/* @media screen and (max-width: 767px){
    .sto-__PLACEHOLDER__-banner[data-page="home"] {
        height: 231px;
    }
} */
