<a href='javascript:__sto.deliv({"placements":{"SE+SK": {"script": "https://rscdn.storetail.net/auchandrive/templates/dist/one_product/live.js?" + new Date().getTime()}}})'>Snippet one product</a>
<a href='javascript:__sto.deliv({"placements":{"SE+SK": {"script": "https://rscdn.storetail.net/auchandrive/templates/dist/multi_products/live.js?" + new Date().getTime()}}})'>Snippet multi products</a>
<a href='javascript:__sto.deliv({"placements":{"SE+SK": {"script": "https://rscdn.storetail.net/auchandrive/templates/dist/two_products/live.js?" + new Date().getTime()}}})'>Snippet two products</a>
<a href='javascript:__sto.deliv({"placements":{"SE+SK": {"script": "https://rscdn.storetail.net/auchandrive/templates/dist/multi_products_redir/live.js?" + new Date().getTime()}}})'>Snippet multi products et redir</a>
<a href='javascript:__sto.deliv({"placements":{"SE+SK": {"script": "https://rscdn.storetail.net/auchandrive/templates/dist/redir/live.js?" + new Date().getTime()}}})'>Snippet redir</a>
<a href='javascript:__sto.deliv({"placements":{"SE+SK": {"script": "https://rscdn.storetail.net/auchandrive/templates/dist/double_brand/live.js?" + new Date().getTime()}}})'>Snippet double brand</a>
